In [82]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [126]:
# Import musk dataset
MUSK = pd.read_csv("MUSK_original.csv", header = None)
MUSK.head(5)

,0,1,2,3,4,5,6,7,8,9,...,159,160,161,162,163,164,165,166,167,168
0,MUSK-211,211_1+1,46,-108,-60,-69,-117,49,38,-161,...,-308,52,-7,39,126,156,-50,-112,96,1.0
1,MUSK-211,211_1+10,41,-188,-145,22,-117,-6,57,-171,...,-59,-2,52,103,136,169,-61,-136,79,1.0
2,MUSK-211,211_1+11,46,-194,-145,28,-117,73,57,-168,...,-134,-154,57,143,142,165,-67,-145,39,1.0
3,MUSK-211,211_1+12,41,-188,-145,22,-117,-7,57,-170,...,-60,-4,52,104,136,168,-60,-135,80,1.0
4,MUSK-211,211_1+13,41,-188,-145,22,-117,-7,57,-170,...,-60,-4,52,104,137,168,-60,-135,80,1.0

In [127]:
# Drop the first two columns
MUSK = MUSK.iloc[:,2:]
MUSK.columns = range(MUSK.shape[1])
print(MUSK.shape)
MUSK.head(5)

(6598, 167)

,0,1,2,3,4,5,6,7,8,9,...,157,158,159,160,161,162,163,164,165,166
0,46,-108,-60,-69,-117,49,38,-161,-8,5,...,-308,52,-7,39,126,156,-50,-112,96,1.0
1,41,-188,-145,22,-117,-6,57,-171,-39,-100,...,-59,-2,52,103,136,169,-61,-136,79,1.0
2,46,-194,-145,28,-117,73,57,-168,-39,-22,...,-134,-154,57,143,142,165,-67,-145,39,1.0
3,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-60,-4,52,104,136,168,-60,-135,80,1.0
4,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-60,-4,52,104,137,168,-60,-135,80,1.0

In [128]:
import random

# Reserve 70% of dataset for training 30% for testing
ratio = 0.7
train_index = random.sample(range(MUSK.shape[0]), k = int(MUSK.shape[0]*ratio))
MUSK_training = MUSK.iloc[train_index,:]
MUSK_testing = MUSK.drop(train_index, axis = 0)

print(MUSK_training.shape)
print(MUSK_testing.shape)

(4618, 167)
(1980, 167)

In [129]:
# Generalize the data with scale of training dataset
scaler = StandardScaler()
MUSK_training_X = scaler.fit_transform(MUSK_training.iloc[:,:-1])
MUSK_training_y = MUSK_training.iloc[:,-1]
MUSK_testing_X = scaler.transform(MUSK_testing.iloc[:,:-1])
MUSK_testing_y = MUSK_testing.iloc[:,-1]

In [130]:
# Concate the scaled data with label(y)
MUSK_training_X = pd.DataFrame(MUSK_training_X)
MUSK_testing_X = pd.DataFrame(MUSK_testing_X)
MUSK_training_X.loc[:,'label'] = MUSK_training_y.values
MUSK_testing_X.loc[:,'label'] = MUSK_testing_y.values

MUSK_training = MUSK_training_X
MUSK_testing = MUSK_testing_X

In [132]:
MUSK_training
# MUSK_testing.head(10)

,0,1,2,3,4,5,6,7,8,9,...,157,158,159,160,161,162,163,164,165,label
0,-0.209268,-0.841354,-1.132168,0.351027,-0.208052,-1.225086,0.635155,0.295530,0.442755,-2.031444,...,-1.297951,-1.085963,0.570246,0.894940,0.241644,-0.267742,-0.443154,-0.271830,-0.262606,0.0
1,-0.393670,2.092002,1.392472,1.589237,-0.192513,0.457135,-1.328047,0.615055,-1.129925,0.694010,...,0.279652,0.971541,0.014006,-0.136035,-0.952657,0.770696,-0.407725,-1.137820,-0.694036,0.0
2,-0.043305,-0.097070,0.702599,0.388548,-0.208052,-1.486765,0.687276,0.009059,0.701784,-0.321082,...,-0.588497,-1.054550,0.784185,0.448845,-0.884799,0.539932,-0.319153,-0.827615,0.347708,1.0
3,-0.153947,-0.009507,0.746633,-0.599518,-0.208052,0.407292,-1.284614,0.835417,-1.166930,-0.001259,...,2.099962,1.301369,0.156632,-0.968746,-0.097646,-0.498506,0.052852,0.439057,0.810706,0.0
4,-0.319909,-0.655283,0.497105,-0.987241,-0.208052,0.606666,-1.293300,0.515892,-1.351951,0.082174,...,-0.625836,-0.968167,0.085319,0.657022,-0.084075,-0.416090,-0.372296,-0.155503,-0.599332,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,-0.283029,0.165619,0.790668,-1.324934,-0.208052,1.865217,-1.293300,0.670146,-1.342700,0.054363,...,2.324000,1.489843,0.242207,0.835460,0.214501,-0.745753,-0.336867,0.103002,-0.462537,0.0
4614,-0.024865,1.632297,1.774103,0.163419,-0.208052,-1.935357,-1.267240,0.659128,-1.342700,0.554957,...,2.230651,-0.135742,0.099582,-1.057965,-0.518366,-0.201810,0.105996,0.296880,0.989591,0.0
4615,-0.412110,-0.337867,-0.779893,0.426070,-0.192513,-1.436921,0.600408,0.031095,0.822048,-0.195934,...,1.082455,-0.669750,0.299258,-0.383866,-0.002645,-0.119394,-0.142008,-0.000400,0.747570,0.0
4616,-0.319909,0.658160,1.451184,-0.624533,-0.208052,1.703225,-1.258554,0.681164,-1.157679,0.137795,...,1.213144,1.945321,0.071056,0.617370,-0.138361,-0.333675,-0.372296,-0.233054,-0.630900,0.0
4617,-0.448991,0.242237,0.100795,-1.387470,-0.208052,-2.471176,-1.284614,0.791345,-1.314947,0.040457,...,-1.064578,-1.038844,1.739777,0.419105,0.621649,-0.696304,-0.230580,0.232254,0.263527,0.0

In [133]:
MUSK_training.to_csv("MUSK_training.csv", index = True)
MUSK_testing.to_csv("MUSK_testing.csv", index = True)